<% provide(:title, 'New Article') %>
<section id="edit-article">
  <header>
    <h1>New Tutorial</h1>
    <p>Edit this tutorial using the markdown editor below.</p>
  </header>
  <div class="container">
    <div class="button-bar"></div>
    <%= render 'form' %>
  </div>
</section>